.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

p {
  margin:0 0 1px;
}

.good{
  background-color:rgb(244, 244, 66);
}

.bad{
  background-color:rgb(244, 128, 65);
}

.paragraph_detail{
  float:right;
  width:240px; 
  display:none;
  font-size:10px;
  font-style: italic;
  background-color:#e5af43;
  padding:5px;
  position:absolute;
  border: 3px solid #f44141;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

div.textunit{
  background-color:#41f4e5;
  margin:0 0 1px;
}

div.summary{
  #background-color:rgb(244, 65, 220);
  padding:5px;
}

.key_difference {
  font-style: italic;
  font-size:12px;
  color:rgb(48, 175, 229);
}

.stats{
    border:none;
}

span:hover {
  background-color : yellow
}

p.summary{
  padding:5px;
}

form {
  text-align: center;
  font-size: 17px;
  padding-top:10px;
}

input {
  padding:5px;
}

.buttons{
  text-align: center;
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.headline{
  text-align:center
}
